extends layout 

block content
    div(class="container")
        div( class="col-md-8 order-md-1")
            h4( class="mb-3") Question Details
            form( class="needs-validation" method="POST" novalidate="" action="/addQuestion/addaction")
                div( class="row")
                    div( class="col-md-12")
                        label( for="country") Question Category
                        select( class="custom-select d-block w-100" id="country" required="")
                            option( value="") Choose
                            option( value="") United States
                        div( class="invalid-feedback") Please select a valid country.
                    div( class="col-md-12")
                        label( for="firstName") Question
                        input( type="text" class="form-control" id="firstName" placeholder="" value="" required="")
                        div( class="invalid-feedback") Valid first name is required.
                    div( class="col-md-6 mb-3")
                        label( for="firstName") Option 1
                        input( type="text" class="form-control" id="firstName" placeholder="" value="" required="")
                        div( class="invalid-feedback") Valid first name is required.
                    div( class="col-md-6 mb-3")
                        label( for="lastName") Option 2 
                        input( type="text" class="form-control" id="lastName" placeholder="" value="" required="")
                        div( class="invalid-feedback") Valid last name is required.
                    div( class="col-md-6 mb-3")
                        label( for="username") Option 3
                        div( class="input-group")
                            div( class="input-group-prepend")
                            span( class="input-group-text") @                   
                            input( type="text" class="form-control" id="username" placeholder="Username" required="")
                            div( class="invalid-feedback" style="width: 100%;") Your username is required.
                    div( class="col-md-6 mb-3")
                        label( for="email") Option 4 
                            span( class="text-muted") (Optional)
                        input( type="email" class="form-control" id="email" placeholder="you@example.com")
                        div( class="invalid-feedback") Please enter a valid email address for shipping updates.
                    button( class="btn btn-primary btn-lg btn-block" type="submit") Upload Question