doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(link rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    script(script src="/javascripts/bootstrap.bundle.min.js")
    script(script src="/javascripts/jquery-3.5.1.slim.min.js")
    link(link rel="stylesheet" href="/stylesheets/signin.css")
  body
    block content
